body{
  display: grid;
  margin: 0rem;
  margin-top: 3.75rem;
  gap: 3.75rem;
  background-color: #F7F7F7;
  font-family: Arial;
  justify-items: center;
}

h1, h2, h3{
  margin: 0rem;
}

p {
  font-size: 1.25rem;
  margin: 0rem;
}

h2{
  font-size: 2rem;
}

.header{
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.menu{
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.menu a{
  padding: 0.9375rem 1.875rem;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  border-radius: 0.25rem;
  border: 0.125rem solid transparent;
}

.menu a:hover{
  border-color: #EE2211;
}

main{
  display: grid;
  grid-auto-rows: auto;
  max-width: 62.5rem;
}

.conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tituloArtigo::before{
  content: "";
  display: block;
  position: relative;
  justify-self: right;
  width: 3.75rem;
  height: 0.25rem;
  background: #EE2211;
  top: -2.5rem;
  right: -22.5rem;
}

.introdução{
  display: grid;
  background: #ffffff;
  padding: 2.5rem;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
  text-align: right;
}

.botao{
  color: #ffffff;
  text-decoration: none;
  background: #EE2211;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
}

.botao:hover{
  background: #AA2211; 
}

.bicicleta{
  width: 100%;
}

.vantagensTitulo{
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  align-self: center;
  text-align: right;
  padding: 2.5rem;
  text-transform: uppercase;
  background-image: url(./img/onda.svg);
}

.vantagensLista{
  margin: 0rem;
  background: #ffffff;
  padding: 2.5rem;
}

.vantagensLista li:nth-child(odd){
  background: #F7F7F7;
}

.vantagensItem{
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
}

.vantagensItem:hover::before{
  position: absolute;
  content: "";
  background: #EE2211;
  height: 100%;
  width: 0.25rem;
}

.vantagemDescricao{
  grid-column: 2;
  margin: 0rem;
}

.rodape{
  background: #ffffff;
  bottom: 0rem;
  text-align: center;
  width: 100%;
  padding: 2.5rem 0rem;
}