body{
  display: grid;
  margin: 0px;
  margin-top: 60px;
  gap: 60px;
  background-color: #F7F7F7;
  font-family: Arial;
  justify-items: center;
}

h1, h2, h3{
  margin: 0px;
}

p {
  font-size: 20px;
  margin: 0px;
}

h2{
  font-size: 2em;
}

.menu{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a{
  padding: 15px 30px;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  border-radius: 4px;
}

.item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.descricao{
  display: grid;
  background: #ffffff;
  padding: 40px;
  gap: 20px;
  align-content: center;
  justify-items: end;
  text-align: right;
  position: relative;
}

.botao{
  color: #ffffff;
  text-decoration: none;
  background: #EE2211;
  padding: 15px 30px;
  border-radius: 4px;
}

.detalhe{
  width: 60px;
  height: 4px;
  background: #EE2211;
  position: absolute;
  top: 30px;
  right: -30px;
}

.bicicleta{
  width: 100%;
}

.vantagensTitulo{
  font-size: 64px;
  color: rgba(0, 0, 0, 0.2);
  align-self: center;
  text-align: right;
  padding: 40px;
  text-transform: uppercase;
}

.vantagens{
  background: #ffffff;
  padding: 40px;
}

.vantegensItem{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagemDescricao{
  grid-column: 2;
  margin: 0px;
}

.rodape{
  background: #ffffff;
  bottom: 0px;
  text-align: center;
  width: 100%;
  padding: 40px 0px;
}